<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260363850485-kdqecpv915sr3eji6o8nptj9gs0i819e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260363850485-kdqecpv915sr3eji6o8nptj9gs0i819e</string>
	<key>API_KEY</key>
	<string>AIzaSyB-xCT60LRUxaM27Ka9XgDeYHQ3b4SOURo</string>
	<key>GCM_SENDER_ID</key>
	<string>260363850485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danish.aixercise</string>
	<key>PROJECT_ID</key>
	<string>ai-xercise</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-xercise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260363850485:ios:e0f2488acf950502b62bbc</string>
</dict>
</plist>